@charset "utf-8";
#pageAudit body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0;padding:0; font-family:"Microsoft Yahei",Helvetica,tahoma,arial;}
#pageAudit table{border-collapse:collapse;border-spacing:0;}
#pageAudit img {border:0;}
#pageAudit em,strong,th{font-style:normal;font-weight:normal;}
#pageAudit ol,ul,li {list-style:none;}
#pageAudit h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
#pageAudit q:before, q:after{content:' '}
#pageAudit a {text-decoration:none;}
#pageAudit a:hover {text-decoration:none;}
#pageAudit img {display: block;}
#pageAudit input {vertical-align:middle;}
#pageAudit input[type='radio'],
#pageAudit input[type='checkbox']{margin-top: -1px;}
#pageAudit input[type='text'],
#pageAudit select {box-sizing: border-box;}
#pageAudit body {background-color:#f7f7f7;}
#pageAudit i {font-style: normal;}
#pageAudit .link {color:#005aa0;}
#pageAudit .link:hover {color:#ff8100; text-decoration:underline;}
#pageAudit .ope {color:#666;}
#pageAudit .ope:hover {color:#005aa0; text-decoration:underline;}
#pageAudit .f12{font-size:12px;}
#pageAudit .f13{font-size:13px;}
#pageAudit .f14{font-size:14px;}
#pageAudit .f16{font-size:16px;}
#pageAudit .f18{font-size:18px;}
#pageAudit .f20{font-size:20px;}
#pageAudit .fb{font-weight:bold;}
#pageAudit .fn{font-weight:normal;}
#pageAudit .t2{text-indent:2em;}
#pageAudit .unl{text-decoration:underline;}
#pageAudit .no_unl{text-decoration:none;}
#pageAudit .tl{text-align:left;}
#pageAudit .tc{text-align:center;}
#pageAudit .tr{text-align:right;}
#pageAudit .bc{margin-left:auto;margin-right:auto;}
#pageAudit .fl{float:left;display:inline;}
#pageAudit .fr{float:right;display:inline;}
#pageAudit .cb{clear:both;}
#pageAudit .cl{clear:left;}
#pageAudit .cr{clear:right;}
#pageAudit .clearfix:after {content: ""; display: block;height: 0;clear: both;visibility: hidden;}
#pageAudit .clearfix {zoom: 1;}
#pageAudit .vm{vertical-align:middle;}
#pageAudit .pr{position:relative;}
#pageAudit .pa{position:absolute;}
#pageAudit .zoom{zoom:1}
#pageAudit .block{display:block;}
#pageAudit .iblock{display:inline-block;}
#pageAudit .hidden{visibility:hidden;}
#pageAudit .none{display:none;}
#pageAudit .ell{word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#pageAudit .w{width:100%}
#pageAudit .w5{width:5px;}
#pageAudit .w10{width:10px;}
#pageAudit .w20{width:20px;}
#pageAudit .w30{width:30px;}
#pageAudit .w40{width:40px;}
#pageAudit .w50{width:50px;}
#pageAudit .w60{width:60px;}
#pageAudit .w70{width:70px;}
#pageAudit .w80{width:80px;}
#pageAudit .w90{width:90px;}
#pageAudit .w100{width:100px;}
#pageAudit .w140{width:140px;}
#pageAudit .w150{width:150px;}
#pageAudit .w200{width:200px;}
#pageAudit .w300{width:300px;}
#pageAudit .w400{width:400px;}
#pageAudit .w500{width:500px;}
#pageAudit .w600{width:600px;}
#pageAudit .w700{width:700px;}
#pageAudit .w800{width:800px;}
#pageAudit .wi5{width:5px!important;}
#pageAudit .wi10{width:10px!important;}
#pageAudit .wi20{width:20px!important;}
#pageAudit .wi30{width:30px!important;}
#pageAudit .wi40{width:40px!important;}
#pageAudit .wi50{width:50px!important;}
#pageAudit .wi60{width:60px!important;}
#pageAudit .wi70{width:70px!important;}
#pageAudit .wi80{width:80px!important;}
#pageAudit .wi90{width:90px!important;}
#pageAudit .wi100{width:100px!important;}
#pageAudit .wi150{width:150px!important;}
#pageAudit .wi200{width:200px!important;}
#pageAudit .wi300{width:300px!important;}
#pageAudit .wi400{width:400px!important;}
#pageAudit .wi500{width:500px!important;}
#pageAudit .wi600{width:600px!important;}
#pageAudit .wi700{width:700px!important;}
#pageAudit .wi800{width:800px!important;}
#pageAudit .h{height:100%}
#pageAudit .h20{height:20px;}
#pageAudit .h50{height:50px;}
#pageAudit .h80{height:80px;}
#pageAudit .h100{height:100px;}
#pageAudit .h200{height:200px;}
#pageAudit .mauto{ margin: 0 auto;}
#pageAudit .m5{margin:5px;}
#pageAudit .m10{margin:10px;}
#pageAudit .m15{margin:15px;}
#pageAudit .m30{margin:30px;}
#pageAudit .mt5{margin-top:5px;}
#pageAudit .mt10{margin-top:10px;}
#pageAudit .mt15{margin-top:15px;}
#pageAudit .mt20{margin-top:20px;}
#pageAudit .mt30{margin-top:30px;}
#pageAudit .mt50{margin-top:50px;}
#pageAudit .mt100{margin-top:100px;}
#pageAudit .mb5{margin-bottom:5px;}
#pageAudit .mb10{margin-bottom:10px;}
#pageAudit .mb15{margin-bottom:15px;}
#pageAudit .mb20{margin-bottom:20px;}
#pageAudit .mb30{margin-bottom:30px;}
#pageAudit .mb50{margin-bottom:50px;}
#pageAudit .mb100{margin-bottom:100px;}
#pageAudit .ml5{margin-left:5px;}
#pageAudit .ml7{margin-left:7px;}
#pageAudit .ml10{margin-left:10px;}
#pageAudit .ml15{margin-left:15px;}
#pageAudit .ml20{margin-left:20px;}
#pageAudit .ml30{margin-left:30px;}
#pageAudit .ml50{margin-left:50px;}
#pageAudit .ml100{margin-left:100px;}
#pageAudit .mr5{margin-right:5px;}
#pageAudit .mr10{margin-right:10px;}
#pageAudit .mr15{margin-right:15px;}
#pageAudit .mr20{margin-right:20px;}
#pageAudit .mr30{margin-right:30px;}
#pageAudit .mr50{margin-right:50px;}
#pageAudit .mr100{margin-right:100px;}
#pageAudit .p5{padding:5px;}
#pageAudit .p10{padding:10px;}
#pageAudit .p15{padding:15px;}
#pageAudit .p20{padding:20px;}
#pageAudit .p30{padding:30px;}
#pageAudit .pt5{padding-top:5px;}
#pageAudit .pt10{padding-top:10px;}
#pageAudit .pt15{padding-top:15px;}
#pageAudit .pt20{padding-top:20px;}
#pageAudit .pt30{padding-top:30px;}
#pageAudit .pt50{padding-top:50px;}
#pageAudit .pt100{padding-top:100px;}
#pageAudit .pb5{padding-bottom:5px;}
#pageAudit .pb10{padding-bottom:10px;}
#pageAudit .pb15{padding-bottom:15px;}
#pageAudit .pb20{padding-bottom:20px;}
#pageAudit .pb30{padding-bottom:30px;}
#pageAudit .pb50{padding-bottom:50px;}
#pageAudit .pb100{padding-bottom:100px;}
#pageAudit .pl5{padding-left:5px;}
#pageAudit .pl10{padding-left:10px;}
#pageAudit .pl15{padding-left:15px;}
#pageAudit .pl20{padding-left:20px;}
#pageAudit .pl28{padding-left:28px;}
#pageAudit .pl30{padding-left:30px;}
#pageAudit .pl50{padding-left:50px;}
#pageAudit .pl100{padding-left:100px;}
#pageAudit .pr5{padding-right:5px;}
#pageAudit .pr7{padding-right:7px;}
#pageAudit .pr10{padding-right:10px;}
#pageAudit .pr15{padding-right:15px;}
#pageAudit .pr20{padding-right:20px;}
#pageAudit .pr30{padding-right:30px;}
#pageAudit .pr50{padding-right:50px;}
#pageAudit .pr100{padding-right:100px;}
#pageAudit #messRemind span{vertical-align: middle;}
#pageAudit .xddvoice a{display:inline-block;width:56px;height:100px;text-indent:-9999px;cursor:pointer;vertical-align: middle;margin-right: 5px;}
#pageAudit .xddvoice a.play{width:19px;height:14px;background:url(../../../static/style/business/images/play.png) no-repeat;}
#pageAudit .xddvoice a.pause{width:19px;height:14px;background:url(../../../static/style/business/images/pause.png) no-repeat;}