@charset "utf-8";
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0;padding:0; font-family:"Microsoft Yahei",Helvetica,tahoma,arial;}
table{border-collapse:collapse;border-spacing:0;}
img {border:0;}
em,strong,th{font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
a {text-decoration:none;}
a:hover {text-decoration:none;}
img {display: block;}
input {vertical-align:middle;}
input[type='radio'],
input[type='checkbox']{margin-top: -1px;}
input[type='text'],
select {box-sizing: border-box;}
body {background-color:#f7f7f7;}
i {font-style: normal;}
.link {color:#005aa0;}
.link:hover {color:#ff8100; text-decoration:underline;}
.ope {color:#666;}
.ope:hover {color:#005aa0; text-decoration:underline;}

.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after {content: ""; display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {zoom: 1;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.zoom{zoom:1}
.block{display:block;}
.iblock{display:inline-block;}
.hidden{visibility:hidden;}
.none{display:none;}
.ell {
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.w{width:100%}
.w5{width:5px;}
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w140{width:140px;}
.w150{width:150px;}
.w200{width:200px;}
.w300{width:300px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}

.wi5{width:5px!important;}
.wi10{width:10px!important;}
.wi20{width:20px!important;}
.wi30{width:30px!important;}
.wi40{width:40px!important;}
.wi50{width:50px!important;}
.wi60{width:60px!important;}
.wi70{width:70px!important;}
.wi80{width:80px!important;}
.wi90{width:90px!important;}
.wi100{width:100px!important;}
.wi150{width:150px!important;}
.wi200{width:200px!important;}
.wi300{width:300px!important;}
.wi400{width:400px!important;}
.wi500{width:500px!important;}
.wi600{width:600px!important;}
.wi700{width:700px!important;}
.wi800{width:800px!important;}

.h{height:100%}
.h20{height:20px;}
.h50{height:50px;}
.h80{height:80px;}
.h100{height:100px;}
.h200{height:200px;}

.mauto{ margin: 0 auto;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m30{margin:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.mt100{margin-top:100px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml5{margin-left:5px;}
.ml7{margin-left:7px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}

.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl28{padding-left:28px;}
.pl30{padding-left:30px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr7{padding-right:7px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}

#messRemind span{vertical-align: middle;}
/*客服按钮*/
.xddvoice a{display:inline-block;width:56px;height:100px;text-indent:-9999px;cursor:pointer;vertical-align: middle;margin-right: 5px;}
/*.xddvoice a.mscBtn{height:50px;background:#fff url(../../../static/style/business/images/musicBtn.gif) no-repeat;left: 127px;position: absolute;top:0;}*/
.xddvoice a.play{width:19px;height:14px;background:url(../../../static/style/business/images/play.png) no-repeat;}
.xddvoice a.pause{width:19px;height:14px;background:url(../../../static/style/business/images/pause.png) no-repeat;}