#pageAudit .f24{font-size:24px}
#pageAudit .o-statistics{width:321px;min-height:968px;top:90px;right:0}
#pageAudit .o-statistics ul{float:left;width:279px;margin:20px 0 10px 20px}
#pageAudit .o-statistics li{float:left;margin-bottom:12px;width:100%;border:1px solid #e6e6e6}
#pageAudit .o-title{position:relative;float:left;width:99.4%;font-size:14px;color:#2c3136;background:#f2f2f2;height:40px;line-height:40px;padding-left:10px}
#pageAudit .o-order{float:left;width:100%;height:140px;line-height:140px}
#pageAudit .o-number-left{float:left;width:140px;height:100%;text-align:center;color:#fff;font-size:20px}
#pageAudit .o-number-right{float:left;width:139px;height:100%}
#pageAudit .o-unfinished{float:left;height:48px;width:119px;padding:10px;line-height:46px}
#pageAudit .o-un-left{float:left;width:56px;font-size:16px;border-right:1px solid #e6e6e6}
#pageAudit .o-un-right{float:left;font-size:26px;padding-left:15px}
#pageAudit .o-line{border-bottom:1px solid #e6e6e6}
#pageAudit .o-order-time{height:68px;line-height:68px}
#pageAudit .o-time-left{float:left;width:140px;background:#67c895;color:#fff;text-align:center;font-size:20px}
#pageAudit .o-time-right{float:left;width:139px;text-align:center;font-size:26px}
#pageAudit .o-scription{float:left;width:280px;margin:0 20px 20px;font-size:13px;color:#b0b0b0}
#pageAudit .o-green{background:#67c895}
#pageAudit .o-red{background:#f26774}
#pageAudit .o-question{position:absolute;left:116px;top:6px;width:22px;height:22px;background:url(../img/o-icon.png) no-repeat}
#pageAudit .statistics-content{min-height:100px;width:0}
#pageAudit .statistics{position:fixed;top:100px;right:0;width:40px}
#pageAudit .statistics a{float:left;width:10px;padding:8px 15px;color:#fff;font-size:14px;background:#69b7e7}
#pageAudit .statistics-content{position:fixed;top:100px;right:0;width:0;height:950px}
#pageAudit .s-hide{display:none}
#pageAudit .hide-icon{float:left;margin:10px 0 5px 6px;width:10px;height:16px;background:url(../img/o-icon.png) no-repeat 0 -61px}
#pageAudit .o-block{float:left;width:100%;margin-bottom:14px;border:1px solid #e6e6e6}
#pageAudit .o-block-blue{border:0;border-top:2px solid #39f}
#pageAudit .o-style{position:absolute;top:-1px;right:20px;color:#f26774}
#pageAudit .o-cont{float:left;position:relative;width:100%;background:#fff;font-size:14px}
#pageAudit .o-cont ul{float:left;width:80%;margin-left:10px;margin-top:16px}
#pageAudit .o-cont li{float:left;width:25%;line-height:30px;text-align:left}
#pageAudit .o-cont .cont-list{float:left;width:100%;line-height:30px;text-align:left}
#pageAudit .o-business{float:left;margin-bottom:14px}
#pageAudit .o-business dd,.o-business dt{float:left;line-height:16px}
#pageAudit .o-business dt{width:100%}
#pageAudit .o-business dd{position:relative;width:90%;margin-left:10%}
#pageAudit .borderdd{border-left:2px solid #b5b5b5;padding-bottom:10px}
#pageAudit .o-business dd span{padding-left:20px;padding-right:15px}
#pageAudit .o-business dd i{position:absolute;left:-4px;width:10px;height:10px;background-image:url(../img/circle.png);background-repeat:no-repeat;background-position:0 0;top:4px}
#pageAudit .behavDesc{display:inline-block;line-height:20px}
#pageAudit .o-business dd.active i{background-position:0 -90px;margin-left:1px}
#pageAudit .o-business dd.active{color:#f36e7a;border:0}
#pageAudit .o-cont li.w100{width:100%}
#pageAudit .o-cont .table{margin:3%;width:94%}
#pageAudit .o-update{position:absolute;top:-55px;right:20px;background:url(../img/update-icon.png) no-repeat;width:120px;height:120px;right:30%}
#pageAudit .orderlist-preNum{width:40px;background:#f0f0f0 url(../img/pre.png) no-repeat 6px 17px}
#pageAudit .orderlist-preNumGrey{width:40px;background:#f0f0f0 url(../img/pre.png) no-repeat -50px 18px}
#pageAudit .orderlist-nextNum{position:absolute;top:-1px;right:10px;width:40px;background:#f0f0f0 url(../img/pre.png) no-repeat 10px -31px}
#pageAudit .orderlist-nextNumBlue{position:absolute;top:-1px;right:10px;width:40px;background:#f0f0f0 url(../img/pre.png) no-repeat -50px -29px}
#pageAudit .orderlist-num{text-align:center;width:60px}
#pageAudit .orderlist-nextNum,.orderlist-nextNumBlue,.orderlist-preNum,.orderlist-preNumGrey{float:left;text-indent:9999;border:0;height:40px;cursor:pointer;display:none}
#pageAudit input[type=text].orderlist-val{width:60px;border:0;background:#fff}
#pageAudit .bg-disable{background:#b3b3b3;color:#fff}
#pageAudit .bg-red-noButton{border-radius:28px;display:inline-block;font-size:14px;padding:2px 10px;background:#dd514c;color:#fff;border-color:#dd514c;line-height:20px}
#pageAudit .bg-grey-noButton{border-radius:28px;display:inline-block;font-size:14px;padding:2px 10px;background:#b3b3b3;color:#fff;border-color:#b3b3b3;line-height:20px}
#pageAudit .color-red{color:#f26774}
#pageAudit .color-red-bold{color:#f26774;font-weight:700}
#pageAudit .color-grey{color:#999}
#pageAudit .colorDiv{width:346px;min-height:66px;padding:15px;background:url(../img/colorBorder.png);background-repeat:no-repeat;background-size:92% 100%}
#pageAudit .colorDiv p{line-height:32px;width:320px}
#pageAudit #footer{margin-top:1em}
#pageAudit .mc-l{margin-left:15px;margin-right:400px}
#pageAudit .mc-r{width:370px;float:right;margin-right:15px}
#pageAudit .redIconStatus{position:absolute;background:url(../img/red-icon-status.png) no-repeat;background-size:100% 100%;min-width:84px;height:30px;right:0;top:0;color:#fff}
#pageAudit .statusWords{height:30px;line-height:30px}
#pageAudit .greyIconStatus{position:absolute;background:url(../img/grey-icon-status.png) no-repeat;background-size:100% 100%;min-width:84px;height:30px;right:0;top:0;color:#fff}
#pageAudit .telIcon{background:url(../img/proper-fucking-phone.png) no-repeat;display:inline-block;height:13px;width:17px;background-size:13px 13px}
#pageAudit .pointStyle{cursor:pointer}
#pageAudit .dialogDiv{background:#fff;border:1px solid #ddd;padding:6px;position:absolute;right:52px;top:-10px;width:470px;z-index:1;display:none}
#pageAudit .amountTip{background:#fff;border:1px solid #ddd;padding:6px;position:absolute;right:52px;top:-10px;width:270px;z-index:1;display:none}
#pageAudit .triangle{background:url(../img/triangle.png);height:24px;position:absolute;right:34px;top:20px;width:18px;background-size:18px 24px;background-repeat:no-repeat;display:none}
#pageAudit .bg-grey-noButton1{border-radius:20px;display:inline-block;font-size:24px;background:#afcfef;color:#fff;border-color:#afcfef;line-height:40px;text-align:center;padding:0 5px}
#pageAudit .o-cont-p{float:left;position:relative;width:100%;background:#fff;font-size:14px}
#pageAudit .o-cont-p ul{float:left;width:98%;margin-left:10px}
#pageAudit .o-cont-p li{line-height:20px;text-align:left}
#pageAudit .o-cont-p .cont-list{float:left;width:100%;line-height:30px;text-align:left}
#pageAudit .o-cont-p li.w100{width:100%}
#pageAudit .o-cont-p .table{margin:3%;width:94%}
#pageAudit .o-cont-p .table_max{width:100%}
#pageAudit .o-block1{width:100%;margin-bottom:14px}
#pageAudit .o-block1 .pr{position:relative;border-color:#000}
#pageAudit .o-block1 .orderlist-num{text-align:center;width:60px}
#pageAudit .o-block-s td{padding:10px 5px;border:0}
#pageAudit .bl-li li{width:50%;float:left;display:block}
#pageAudit .bl-li span{display:inline-block;height:40px}
#pageAudit .o-p-td{border-bottom:1px solid #e6e6e6;padding:15px 2px}
#pageAudit .o-p-td .img{border:1px solid #DFDFDF;display:inline-block}
#pageAudit .grayFont{color:#666;padding:2px 0}
#pageAudit .od-cont{float:left;position:relative;width:100%;background:#fff;font-size:14px}
#pageAudit .od-cont ul{float:right;width:400px;margin-left:10px;margin-top:16px;margin-bottom:16px}
#pageAudit .od-cont li.w100{width:100%}
#pageAudit .od-cont li{float:left;width:33%;line-height:35px;text-align:left}
#pageAudit .od-cont-small li{width:17%}
#pageAudit .od-cont-line li{width:100%;float:none;text-align:left}
#pageAudit .od-cont-line .line{margin-top:20px;padding-top:20px;border-top:1px dashed #ccc;display:inline-block;width:100%;text-align:right}
#pageAudit .fd-cont{float:left;position:relative;width:100%;background:#fff;font-size:14px}
#pageAudit .fd-cont ul{float:left;width:98%;margin-left:10px}
#pageAudit .b-orderdd{border-left:2px solid #b5b5b5}
#pageAudit .b-orderd-d{border-left:2px solid #b5b5b5;padding-bottom:10px}
#pageAudit .bg-red-noButton-od,.bg-red-noButton-pink{border-radius:28px;display:inline-block;font-size:12px;padding:2px 10px;background:#dd514c;color:#fff;border-color:#dd514c;line-height:16px;text-align:center}
#pageAudit .bg-red-noButton-pink{background-color:#f99}
#pageAudit .odd-cont{float:left;position:relative;width:100%;background:#fff;font-size:14px}
#pageAudit .odd-cont ul{float:left;width:98%;margin-left:10px;margin-top:16px;margin-bottom:16px}
#pageAudit .odd-cont li.w100{width:100%}
#pageAudit .odd-cont-list{float:left;width:100%;line-height:30px;text-align:left}
#pageAudit .topZindex{z-index:1000}
#pageAudit .td-label{text-align:right;width:40%;height:25px}
#pageAudit #amountDetail tr td{white-space:nowrap}
#pageAudit .t-menu-info{float:right;width:225px;text-align:left;margin-top:48px;color:#666}
#pageAudit .u-warning-message{padding:10px;color:#666;font-size:14px;background:#eee;border:1px solid #ccc;overflow:hidden;margin-left:4%;width:74%}
#pageAudit .u-warning-message-yellow{background-color:#f8f8dc;color:#c33;font-size:14px;border:1px solid #e5e5b6;margin:0;padding:15px 12px}
#pageAudit .u-warning-message-yellow-tips{background-color:#f8f8dc;color:#666;font-size:14px;border:1px solid #e5e5b6;margin:13px 0 0 54px;padding:0 20px;border-radius:20px;line-height:24px}
#pageAudit .t-tips{margin-left:84px;padding-bottom:10px;width:74%;overflow:hidden;padding-top:10px}
#pageAudit .t-tips-del{color:#3399FE;margin-left:20px}
#pageAudit .t-tags-blue,.t-tags-yellow{position:absolute;top:17px;padding:2px 5px;border-radius:0 20px 20px 0;background-color:#cc6;color:#fff;font-size:12px}
#pageAudit .t-tags-blue{background-color:#afcfef}
#pageAudit .NewDada{padding:28px;text-align:center;font-size:14px;color:#999;border-top:1px solid #eee;margin-top:100px}
#pageAudit .u-add-num{border:1px solid #39f;width:160px;height:30px}
#pageAudit .u-add-num span{width:32px;height:31px;float:left;text-align:center;line-height:26px;font-size:26px;color:#39f;cursor:pointer;user-select:none}
#pageAudit .u-add-num span.center{width:92px;border:0;text-align:center;font-size:16px;line-height:28px;color:#333}
#pageAudit .fix_message{background-color:#fff;border-bottom:2px solid #39f;padding:10px 20px 10px 0;position:fixed;top:0;left:0;width:99%;z-index:999;display:none}
#pageAudit .fix_message .bg-grey-noButton1{background-color:#39f;margin-left:30px}
#pageAudit .fix_message .fr{float:right;margin-top:8px}
#pageAudit .fix_message .moneys{font-size:16px;padding-left:30px;margin-left:30px;border-left:1px solid #ccc}
#pageAudit .extra_info_tips_hui{color:#c00!important;border:1px solid #c00!important;border-radius:10px!important;padding:2px 6px!important;margin:0 15px 0 6px!important;font-size:12px}
#pageAudit .extra_msg_width_tip{display:inline-block;text-align:left}
#pageAudit .angle.down.icon{cursor:pointer;margin:0 -5px 0 0}
#pageAudit .extra_tips_right{float:right!important}
